#App {
  display: flex;
}
.user,
.todo {
  width: 50%;
}
.user-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}
.user-item {
  cursor: pointer;
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 4px;
  margin: 2px;
}
.user-item:hover {
  color: mediumvioletred;
}
.user-item-selected {
  font-weight: 600;
  background-color: #ccc;
}
.todo-form {
  position: relative;
}
.todo-loading {
  display: none;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 22px;
  justify-content: center;
  align-items: center;
}
.todo-list {
  list-style: square;
}
.todo-item {
  cursor: pointer;
  margin-bottom: 4px;
}
.todo-item:hover {
  color: orangered;
}
